.wrapper {
  margin-right: auto;
  margin-left: auto;
  min-width: 1600px;
  max-width: 1600px;
}

.logo {
  margin-right: 600px;
  position: relative;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #1abe84;
}
.logo-red {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 15px;
  height: 15px;
  background-color: #fb8f1d;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.header {
  margin-top: 15px;
  margin-bottom: 80px;
  width: 1415px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.header-nav {
  padding-top: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #b8becd;
  cursor: pointer;
}

.active {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #202336;
}

.button-login {
  width: 132px;
  height: 44px;
  background-color: white;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  cursor: pointer;
}
.button-login-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fb8f1d;
  mix-blend-mode: normal;
}

.button-register {
  margin-left: 15px;
  width: 132px;
  height: 44px;
  background: #fb8f1d;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.button-register-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.explore {
  width: 1415px;
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
}
.explore-header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #202336;
  mix-blend-mode: normal;
}
.explore-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #202336;
}

.explore-select {
  margin-right: 20px;
  margin-top: 25px;
  width: 220px;
  height: 52px;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  padding-left: 20px;
}

.explore-button {
  margin-top: 40px;
  width: 180px;
  height: 52px;
  background: #fb8f1d;
  border: none;
  border-radius: 8px;
}
.explore-button-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

.new_way {
  margin-left: 90px;
  margin-top: 286px;
  display: flex;
  justify-content: space-between;
}
.new_way-header {
  padding-top: 50px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
}
.new_way-text {
  padding-right: 250px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
}
.new_way-button {
  margin-top: 30px;
  width: 164px;
  height: 48px;
  background: #fb8f1d;
  border: none;
  border-radius: 8px;
}
.new_way-button-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.destinations {
  margin-top: 292px;
  width: 1200px;
  margin-left: 160px;
}
.destinations-text {
  display: flex;
  justify-content: space-between;
}
.destinations-text-header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  mix-blend-mode: normal;
}
.destinations-text-view {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #fb8f1d;
  mix-blend-mode: normal;
}
.destinations-images {
  display: flex;
  justify-content: space-between;
}

.destination {
  position: relative;
}
.destination-image {
  border-radius: 10px;
}
.destination-text {
  background-color: white;
  width: 120px;
  height: 56px;
  position: absolute;
  bottom: 5px;
  border-radius: 0 10px 0 0;
}
.destination-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #80918e;
  mix-blend-mode: normal;
}
.destination-text span {
  color: #042521;
  font-size: 17px;
}

.guides {
  margin-top: 292px;
  width: 1200px;
  margin-left: 160px;
  display: flex;
  justify-content: space-between;
}

.guides-text-header {
  margin-top: 180px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  mix-blend-mode: normal;
}
.guides-text-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
}
.guides-text-button {
  margin-top: 25px;
  width: 164px;
  height: 48px;
  background: #fb8f1d;
  border: none;
  border-radius: 8px;
}
.guides-text-button span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.testimonials {
  width: 1160px;
  margin-top: 292px;
  margin-left: 160px;
}
.testimonials-header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.testimonial-stars {
  margin-top: 85px;
  justify-content: left;
}
.testimonial-stars-text {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  mix-blend-mode: normal;
}
.testimonial-stars-name {
  padding-top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  mix-blend-mode: normal;
}
.testimonial-stars-profession {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
  mix-blend-mode: normal;
}
.testimonial-image {
  position: relative;
}
.testimonial-image-pages {
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 132px;
  height: 60px;
  display: flex;
  bottom: 17px;
  right: 12px;
}

.previous-icon {
  width: 40px;
  cursor: pointer;
  opacity: 0.3;
}

.next-icon {
  width: 40px;
  cursor: pointer;
}

.star {
  width: 25.12px;
  height: 23.95px;
}

.stories {
  margin-top: 292px;
  width: 1250px;
  margin-left: 160px;
}
.stories-header {
  display: flex;
  justify-content: space-between;
}
.stories-header-header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
}
.stories-header-view {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #fb8f1d;
  mix-blend-mode: normal;
  cursor: pointer;
}
.stories-stories {
  display: flex;
  justify-content: space-between;
}

.storie-image {
  width: 290px;
  height: 260px;
  border-radius: 11px 11px 0 0;
}
.storie-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}
.storie-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7d7987;
}
.storie-more {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
  cursor: pointer;
}

.footer {
  margin-top: 271px;
  width: 100%;
  height: 482px;
  background: #f9f9fb;
}
.footer-content {
  margin-left: 430px;
  padding-top: 91px;
  width: 1350px;
  display: flex;
  justify-content: space-between;
}
.footer-content-logo {
  width: 395px;
}
.footer-content-logo-text {
  padding-top: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #848484;
  mix-blend-mode: normal;
}
.footer-content-logo-company {
  padding-top: 25px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #848484;
  mix-blend-mode: normal;
}
.footer-content-item {
  width: 150px;
}
.footer-content-item-header {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #000000;
  mix-blend-mode: normal;
  cursor: pointer;
}
.footer-content-item-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  mix-blend-mode: normal;
  cursor: pointer;
}
.footer-content-line {
  width: 1350px;
  margin-left: 430px;
  background: #848484;
}
.footer-content-social {
  display: flex;
  justify-content: center;
}

.social {
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}