.page-container {
  max-width: 1400px;
  margin: auto;
}

.header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.header__logo {
  width: 41px;
  height: 41px;
  position: relative;
  border-radius: 50%;
  background: #1abe84;
  margin-right: 380px;
}

.header__logo-red {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fb8f1d;
  border: 3px solid #ffffff;
}

.header__nav {
  margin-left: 34px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b8becd;
}

.nav-active {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #202336;
}

.header__button-login {
  color: #fb8f1d;
  background-color: white;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  width: 132px;
  height: 44px;
  left: 1128px;
  top: 35px;
  cursor: pointer;
}

.header__button-register {
  margin-left: 18px;
  color: white;
  background-color: #fb8f1d;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  width: 132px;
  height: 44px;
  left: 1128px;
  top: 35px;
  cursor: pointer;
}

.section_01 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 72px;
}

.section_01__text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  mix-blend-mode: normal;
}

.section_01__text-little {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
}

.section_01__form-wrap {
  display: flex;
}

.section_01__form {
  margin-top: 30px;
  margin-right: 30px;
  width: 220px;
  height: 52px;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  color: #4a4c53;
  mix-blend-mode: normal;
  padding-left: 30px;
}

.section_01__button {
  margin-top: 60px;
  height: 52px;
  width: 220px;
  background: #fb8f1d;
  border: none;
  border-radius: 8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: normal;
  text-align: center;
  cursor: pointer;
}

.section_01__image {
  width: 687px;
  height: 654px;
}

.section_02 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 286px;
  margin-bottom: 286px;
}

.section_02__left {
  margin-right: 102px;
}

.section_02__right {
  margin-top: 80px;
}

.section_02__text-header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
}

.section_02__wrap-text {
  width: 450px;
  height: 120px;
}

.section_02__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
}

.section_02__button {
  margin-top: 50px;
  width: 164px;
  height: 48px;
  background: #fb8f1d;
  border-radius: 8px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: normal;
  text-align: center;
  cursor: pointer;
}

.section_03 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 286px;
}

.section_03__text {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.section_03__text-left {
  margin-left: 140px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  mix-blend-mode: normal;
}

.section_03__text-right {
  margin-right: 120px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #fb8f1d;
  mix-blend-mode: normal;
}

.section_03__destinations {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
}

.section_03__destination {
  width: 220px;
  height: 220px;
  border-radius: 8px;
  position: relative;
}

.section_03__img {
  border-radius: 8px;
}

.section_03__destination-text {
  position: absolute;
  background-color: white;
  width: 120px;
  height: 56px;
  bottom: -112px;
  border-radius: 0 8px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  display: flex;
  color: #042521;
  mix-blend-mode: normal;
  padding-bottom: 2px;
}

.section_03__destination-text-country {
  color: #7d7987;
  font-size: 19px;
}

.section_04 {
  display: flex;
  justify-content: space-evenly;
}

.section_04__left {
  margin-left: 600px;
}

.section_04__right {
  margin-right: 500px;
}

.section_04__text-wrap {
  width: 450px;
  height: 120px;
}

.section_04__text-header {
  margin-top: 120px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  mix-blend-mode: normal;
}

.section_04__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
}
